{{!< default}}
{{#contentFor 'title'}}索引{{/contentFor}}
<div class="row g-10">
  <!--begin::Col-->
  <div class="col-md-6">
    <!--begin::Feature post-->
    <div class="card-xl-stretch me-md-6">
      <!--begin::Image-->
      <a href="/developer/ocr"
        class="d-block bgi-no-repeat bgi-size-contain bgi-position-center card-rounded min-h-300px mb-5"
        style="background-image:url('/build/media/screencaps/ocr.png')">
      </a>
      <!--end::Image-->
      <!--begin::Body-->
      <div class="m-0">
        <!--begin::Title-->
        <span class="fs-4 text-dark fw-bold text-hover-primary text-dark lh-base">運転免許証、マイナンバーカードのOCR</span>
        <!--end::Title-->
      </div>
      <!--end::Body-->
    </div>
    <!--end::Feature post-->
  </div>
  <!--end::Col-->

  <!--begin::Col-->
  <div class="col-md-6">
    <!--begin::Feature post-->
    <div class="card-xl-stretch me-md-6">
      <!--begin::Image-->
      <a href="/developer/minor-check"
        class="d-block bgi-no-repeat bgi-size-contain bgi-position-center card-rounded min-h-300px mb-5"
        style="background-image:url('/build/media/screencaps/checkMinors.png')">
      </a>
      <!--end::Image-->
      <!--begin::Body-->
      <div class="m-0">
        <!--begin::Title-->
        <span class="fs-4 text-dark fw-bold text-hover-primary text-dark lh-base">未成年チェック</span>
        <!--end::Title-->
      </div>
      <!--end::Body-->
    </div>
    <!--end::Feature post-->
  </div>
  <!--end::Col-->

  <!--begin::Col-->
  <div class="col-md-6">
    <!--begin::Feature post-->
    <div class="card-xl-stretch me-md-6">
      <!--begin::Image-->
      <a href="/developer/name-cleansing"
        class="d-block bgi-no-repeat bgi-size-contain bgi-position-center card-rounded min-h-300px mb-5"
        style="background-image:url('/build/media/screencaps/nameCleansing.png')">
      </a>
      <!--end::Image-->
      <!--begin::Body-->
      <div class="m-0">
        <!--begin::Title-->
        <span class="fs-4 text-dark fw-bold text-hover-primary text-dark lh-base">氏名を正規化</span>
        <!--end::Title-->
      </div>
      <!--end::Body-->
    </div>
    <!--end::Feature post-->
  </div>
  <!--end::Col-->
  <!--begin::Col-->
  <div class="col-md-6">
    <!--begin::Feature post-->
    <div class="card-xl-stretch me-md-6">
      <!--begin::Image-->
      <a href="/developer/postal-code-search"
        class="d-block bgi-no-repeat bgi-size-contain bgi-position-center card-rounded min-h-300px mb-5"
        style="background-image:url('/build/media/screencaps/postalCodeSearch.png')">
      </a>
      <!--end::Image-->
      <!--begin::Body-->
      <div class="m-0">
        <!--begin::Title-->
        <span class="fs-4 text-dark fw-bold text-hover-primary text-dark lh-base">郵便番号を検索</span>
        <!--end::Title-->
      </div>
      <!--end::Body-->
    </div>
    <!--end::Feature post-->
  </div>
  <!--end::Col-->
  <!--begin::Col-->
  <div class="col-md-6">
    <!--begin::Feature post-->
    <div class="card-xl-stretch me-md-6">
      <!--begin::Image-->
      <a href="/developer/split-address"
        class="d-block bgi-no-repeat bgi-size-contain bgi-position-center card-rounded min-h-300px mb-5"
        style="background-image:url('/build/media/screencaps/splitAddress.png')">
      </a>
      <!--end::Image-->
      <!--begin::Body-->
      <div class="m-0">
        <!--begin::Title-->
        <span class="fs-4 text-dark fw-bold text-hover-primary text-dark lh-base">住所を正規化</span>
        <!--end::Title-->
      </div>
      <!--end::Body-->
    </div>
    <!--end::Feature post-->
  </div>
</div>