{{!< default}}
{{#contentFor 'title'}}氏名を正規化{{/contentFor}}
{{#contentFor 'description'}}氏名を姓と名に分割{{/contentFor}}
{{#contentFor 'style'}}<link rel="stylesheet" type="text/css" href="{{cache_busting '/build/nameNormalization.css' ''}}">{{/contentFor}}
{{#contentFor 'script'}}<script type="module" src="{{cache_busting '/build/nameNormalization.js' ''}}"></script>{{/contentFor}}
<div class="d-flex flex-column flex-lg-row">
  <div class="flex-column flex-lg-row-auto w-100 w-lg-600px mb-10 mb-lg-0">
    <div class="card card-flush mb-0"
      data-kt-sticky="true"
      data-kt-sticky-name="inbox-aside-sticky"
      data-kt-sticky-offset="{default: false, xl: '0px'}"
      data-kt-sticky-width="{lg: '600px'}"
      data-kt-sticky-left="auto"
      data-kt-sticky-top="150px"
      data-kt-sticky-animation="false"
      data-kt-sticky-zindex="95">
      <div class="card-body">
        <form id="form">
          <button type="submit" class="btn btn-primary w-100 mb-10" disabled>
            <div class="spinner-border spinner-border-sm me-2 d-none" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>氏名の正規化を実行
          </button>
          <textarea class="form-control" data-kt-autosize="true" id="inputs" maxlength="2000" autofocus="autofocus">中川正敏
白井慶太
草野あき
中根芳正
大谷誠治
古川竜也
斎藤夏希
金山太朗
矢沢雅之
星友以乃
益田勇一
三浦瑠璃亜
浅倉菜摘
片瀬優
西本陽子
今田翔太
永山メイサ
美木洋介
関あおい
湯浅優</textarea>
        </form>
      </div>
    </div>
  </div>
  <div class="flex-lg-row-fluid ms-lg-7 ms-xl-10">
    <div class="card">
      <div class="card-body">
        <table class="table table-hover table-row-dashed fs-6 gy-5 my-0" id="table">
          <thead class="text-nowrap">
            <tr>
              <th></th>
              <th>氏名</th>
              <th>姓</th>
              <th>名</th>
              <th class="text-end">分割の信頼度</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>