{{!< default}}
{{#contentFor 'title'}}身分証明証OCR{{/contentFor}}
{{#contentFor 'description'}}運転免許証、マイナンバーカードのOCR{{/contentFor}}
{{#contentFor 'style'}}<link rel="stylesheet" type="text/css" href="{{cache_busting '/build/ocr.css' ''}}">{{/contentFor}}
{{#contentFor 'script'}}<script type="module" src="{{cache_busting '/build/ocr.js' ''}}"></script>{{/contentFor}}
<!--begin::Row-->
<div class="row">
  <!--begin::Col-->
  <div class="col-12 col-lg-4 mb-10 mb-lg-0 order-2 order-lg-1">
    <div class="card card-flush mb-0">
      <div class="card-body">
        <form id="form">
          <button data-on-ocr type="button" class="btn btn-primary w-100 mb-10">
            <div class="spinner-border spinner-border-sm me-2 d-none" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>OCRを実行
          </button>

          <!--begin::Input group-->
          <div class="mb-10">
            <label class="fs-6 fw-semibold form-label">Type</label>
            <div class="mb-5">
              <div class="form-check form-check-custom form-check-success form-check-solid">
                <input data-ref="type" data-on-change-type class="form-check-input" type="radio" name="type" value="driverslicense" id="typeDriverslicense" checked />
                <label class="form-check-label" for="typeDriverslicense">運転免許証</label>
              </div>
            </div>
            <div class="mb-5">
              <div class="form-check form-check-custom form-check-success form-check-solid">
                <input data-ref="type" data-on-change-type class="form-check-input" type="radio" name="type" value="mynumber" id="typeMynumber" />
                <label class="form-check-label" for="typeMynumber">マイナンバーカード</label>
              </div>
            </div>
          </div>
          <!--end::Input group-->

          <!--begin::Separator-->
          <div class="separator separator-dashed my-6"></div>
          <!--end::Separator-->

          <!--begin::Input group-->
          <div class="mb-10">
            <label class="fs-6 fw-semibold form-label">画像圧縮サイズ</label>
            <div class="mb-5">
              <div class="form-check form-check-custom form-check-success form-check-solid">
                <input data-ref="compression" class="form-check-input" type="radio" name="compression" value="" id="compressionNone" />
                <label class="form-check-label" for="compressionNone">None</label>
              </div>
            </div>
            {{!-- <div class="mb-5">
              <div class="form-check form-check-custom form-check-success form-check-solid">
                <input data-ref="compression" class="form-check-input" type="radio" name="compression" value="240" id="compression240" checked />
                <label class="form-check-label" for="compression240">240px</label>
              </div>
            </div> --}}
            <div class="mb-5">
              <div class="form-check form-check-custom form-check-success form-check-solid">
                <input data-ref="compression" class="form-check-input" type="radio" name="compression" value="480" id="compression480" checked />
                <label class="form-check-label" for="compression480">480px</label>
              </div>
            </div>
            <div class="mb-5">
              <div class="form-check form-check-custom form-check-success form-check-solid">
                <input data-ref="compression" class="form-check-input" type="radio" name="compression" value="640" id="compression640" checked />
                <label class="form-check-label" for="compression640">640px</label>
              </div>
            </div>
            <div class="mb-5">
              <div class="form-check form-check-custom form-check-success form-check-solid">
                <input data-ref="compression" class="form-check-input" type="radio" name="compression" value="960" id="compression960" />
                <label class="form-check-label" for="compression960">960px</label>
              </div>
            </div>
            <div class="mb-5">
              <div class="form-check form-check-custom form-check-success form-check-solid">
                <input data-ref="compression" class="form-check-input" type="radio" name="compression" value="1240" id="compression1240" />
                <label class="form-check-label" for="compression1240">1240px</label>
              </div>
            </div>
          </div>
          <!--end::Input group-->

          <!--begin::Information--> 
          <div class="d-flex align-items-center">
            <!--begin::Icon-->
            <!--begin::Svg Icon | path: icons/duotune/general/gen044.svg-->
            <span class="svg-icon svg-icon-2 svg-icon-warning me-5">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor"></rect>
                <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="currentColor"></rect>
                <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="currentColor"></rect>
              </svg>
            </span>
            <!--end::Svg Icon-->
            <!--end::Icon-->
            <!--begin::Description-->
            <div class="text-gray-700 fw-bold fs-6">圧縮サイズを高くすると応答時間は上がりますがOCRの精度が下がります。</div>
            <!--end::Description-->
          </div>
          <!--end::Information-->

          <!--begin::Separator-->
          <div class="separator separator-dashed my-6"></div>
          <!--end::Separator-->

          <h2 class="mb-8">OCRの実行結果</h2>

          <!--begin::OCR results-->
          <div data-ref="driverslicenseOcrResults">
            <!--begin::Row-->
            <div class="row mb-7">
              <!--begin::Label-->
              <label class="col-lg-4 fw-semibold text-muted">姓名</label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="col-lg-8">
                <span data-ref="driverslicenseFullName" class="fw-bold fs-6 text-gray-800"></span>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row mb-7">
              <!--begin::Label-->
              <label class="col-lg-4 fw-semibold text-muted">姓</label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="col-lg-8">
                <span data-ref="driverslicenseLastName" class="fw-bold fs-6 text-gray-800"></span>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row mb-7">
              <!--begin::Label-->
              <label class="col-lg-4 fw-semibold text-muted">名</label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="col-lg-8">
                <span data-ref="driverslicenseFirstName" class="fw-bold fs-6 text-gray-800"></span>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row mb-7">
              <!--begin::Label-->
              <label class="col-lg-4 fw-semibold text-muted">免許証番号</label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="col-lg-8">
                <span data-ref="driverslicenseNumber" class="fw-bold fs-6 text-gray-800"></span>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row mb-7">
              <!--begin::Label-->
              <label class="col-lg-4 fw-semibold text-muted">有効期限</label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="col-lg-8">
                <span data-ref="driverslicenseExpiryDate" class="fw-bold fs-6 text-gray-800"></span>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row mb-7">
              <!--begin::Label-->
              <label class="col-lg-4 fw-semibold text-muted">西暦形式の有効期限</label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="col-lg-8">
                <span data-ref="driverslicenseWesternExpiryDate" class="fw-bold fs-6 text-gray-800"></span>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->       
            <!--begin::Row-->
            <div class="row mb-7">
              <!--begin::Label-->
              <label class="col-lg-4 fw-semibold text-muted">生年月日</label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="col-lg-8">
                <span data-ref="driverslicenseBirthday" class="fw-bold fs-6 text-gray-800"></span>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row mb-7">
              <!--begin::Label-->
              <label class="col-lg-4 fw-semibold text-muted">西暦形式の生年月日</label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="col-lg-8">
                <span data-ref="driverslicenseWesternBirthday" class="fw-bold fs-6 text-gray-800"></span>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row mb-7">
              <!--begin::Label-->
              <label class="col-lg-4 fw-semibold text-muted">郵便番号</label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="col-lg-8">
                <span data-ref="driverslicensePostalCode" class="fw-bold fs-6 text-gray-800"></span>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row mb-7">
              <!--begin::Label-->
              <label class="col-lg-4 fw-semibold text-muted">住所</label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="col-lg-8">
                <span data-ref="driverslicenseAddress" class="fw-bold fs-6 text-gray-800"></span>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
          </div>
          <!--end::OCR results-->

          <!--begin::OCR results-->
          <div data-ref="mynumberOcrResults" class="d-none">
            <!--begin::Row-->
            <div class="row mb-7">
              <!--begin::Label-->
              <label class="col-lg-4 fw-semibold text-muted">姓名</label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="col-lg-8">
                <span data-ref="mynumberFullName" class="fw-bold fs-6 text-gray-800"></span>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row mb-7">
              <!--begin::Label-->
              <label class="col-lg-4 fw-semibold text-muted">姓</label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="col-lg-8">
                <span data-ref="mynumberLastName" class="fw-bold fs-6 text-gray-800"></span>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row mb-7">
              <!--begin::Label-->
              <label class="col-lg-4 fw-semibold text-muted">名</label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="col-lg-8">
                <span data-ref="mynumberFirstName" class="fw-bold fs-6 text-gray-800"></span>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row mb-7">
              <!--begin::Label-->
              <label class="col-lg-4 fw-semibold text-muted">性別</label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="col-lg-8">
                <span data-ref="mynumberGender" class="fw-bold fs-6 text-gray-800"></span>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row mb-7">
              <!--begin::Label-->
              <label class="col-lg-4 fw-semibold text-muted">カード有効期限</label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="col-lg-8">
                <span data-ref="mynumberCardExpiryDate" class="fw-bold fs-6 text-gray-800"></span>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row mb-7">
              <!--begin::Label-->
              <label class="col-lg-4 fw-semibold text-muted">西暦形式のカード有効期限</label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="col-lg-8">
                <span data-ref="mynumberWesternCardExpiryDate" class="fw-bold fs-6 text-gray-800"></span>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->

            <!--begin::Row-->
            <div class="row mb-7">
              <!--begin::Label-->
              <label class="col-lg-4 fw-semibold text-muted">電子証明書有効期限</label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="col-lg-8">
                <span data-ref="mynumberDigiExpiryDate" class="fw-bold fs-6 text-gray-800"></span>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row mb-7">
              <!--begin::Label-->
              <label class="col-lg-4 fw-semibold text-muted">西暦形式の電子証明書有効期限</label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="col-lg-8">
                <span data-ref="mynumberWesternDigiExpiryDate" class="fw-bold fs-6 text-gray-800"></span>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row mb-7">
              <!--begin::Label-->
              <label class="col-lg-4 fw-semibold text-muted">生年月日</label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="col-lg-8">
                <span data-ref="mynumberBirthday" class="fw-bold fs-6 text-gray-800"></span>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row mb-7">
              <!--begin::Label-->
              <label class="col-lg-4 fw-semibold text-muted">西暦形式の生年月日</label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="col-lg-8">
                <span data-ref="mynumberWesternBirthday" class="fw-bold fs-6 text-gray-800"></span>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row mb-7">
              <!--begin::Label-->
              <label class="col-lg-4 fw-semibold text-muted">郵便番号</label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="col-lg-8">
                <span data-ref="mynumberPostalCode" class="fw-bold fs-6 text-gray-800"></span>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row mb-7">
              <!--begin::Label-->
              <label class="col-lg-4 fw-semibold text-muted">住所</label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="col-lg-8">
                <span data-ref="mynumberAddress" class="fw-bold fs-6 text-gray-800"></span>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
          </div>
          <!--end::OCR results-->
        </form>
      </div>
    </div>
  </div>
  <!--end::Col-->

  <!--begin::Col-->
  <div class="col-12 col-lg-8 order-1 order-lg-2">
    <div class="card">
      <div class="card-body {{!-- p-0 --}} pt-6">
        <!--begin::File upload-->
        <label class="btn btn-primary mb-10 d-block d-lg-inline-block">
          <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/kt-products/metronic/releases/2022-07-05-142712/core/html/src/media/icons/duotune/files/fil010.svg-->
          <span class="svg-icon svg-icon-1 svg-icon-white"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.3" d="M19 22H5C4.4 22 4 21.6 4 21V3C4 2.4 4.4 2 5 2H14L20 8V21C20 21.6 19.6 22 19 22ZM14.5 12L12.7 9.3C12.3 8.9 11.7 8.9 11.3 9.3L10 12H11.5V17C11.5 17.6 11.4 18 12 18C12.6 18 12.5 17.6 12.5 17V12H14.5Z" fill="currentColor"/>
            <path d="M13 11.5V17.9355C13 18.2742 12.6 19 12 19C11.4 19 11 18.2742 11 17.9355V11.5H13Z" fill="currentColor"/>
            <path d="M8.2575 11.4411C7.82942 11.8015 8.08434 12.5 8.64398 12.5H15.356C15.9157 12.5 16.1706 11.8015 15.7425 11.4411L12.4375 8.65789C12.1875 8.44737 11.8125 8.44737 11.5625 8.65789L8.2575 11.4411Z" fill="currentColor"/>
            <path d="M15 8H20L14 2V7C14 7.6 14.4 8 15 8Z" fill="currentColor"/>
          </svg></span>
          <!--end::Svg Icon-->
          画像をアップロード
          <input data-on-upload-file type="file" class="d-none" accept="image/*">
        </label>
        <!--end::File upload-->

        <!--begin::Image-->
        <div class="d-flex justify-content-center">
          <img data-ref="image" src="/build/media/driverslicense.png" class="mw-100">
        </div>
        <!--end::Image-->
      </div>
    </div>
  </div>
  <!--end::Col-->
</div>
<!--end::Row-->